{% extends 'base.html' %}
{% load static %}
{% block content %}

     <section id="header">
      <a href = "{% url 'home' %}"><img src="{% static '/img/swika.png' %}" class="logo" alt="logo"></a>
      <div>
      <ul id="navbar">
        
        <li ><a class="active" href="{% url 'home' %}">Home</a></li>
        <li ><a href="{% url 'category_summary' %}">Shop</a></li>
        <li ><a href="{% url 'blog' %}">Blog</a></li>
        <li ><a href="{% url 'about' %}">About Us</a></li>
        <li ><a href="{% url 'contact' %}">Contact</a></li>
        <li id="lg-bag"><a href="{% url 'cart_summary' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a><button> <span class="quantity" id="cart_quantity">{{ cart|length }}<span></button></li>
         
        <a href="#" id="close"><i class="fa fa-window-close-o" aria-hidden="true"></i></a>
        <form action = "/search" method="GET">
        <input name= "query" type="text" placeholder="Search" class="search">
        <button type="submit" id="find"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>

        {% if user.is_authenticated %}
        
        <div class = "dropdown">
          <button>{{user.username}}</i></button>
          <div class = "dropdown-menu">
             <a href="{% url 'update_user' %}" class="dropdown-items">Profile</a>
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
            <a href="{% url 'logout' %}" class="dropdown-items">Logout</a>
            </form>

          </div>
        </div>

        {% else %}

        <div class = "dropdown">
          <button><i class="fa fa-user" aria-hidden="true"></i></button>
          <div class = "dropdown-menu">
            <a href="{% url 'login' %}" class="dropdown-items">Login</a>
            <a href="{% url 'register'%}" class="dropdown-items">Register</a>
          </div>
        </div>

        {% endif %}
        
        
      </ul>
    
     </div>

     <div id="mobile">
        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        <i class="fa fa-bars" aria-hidden="true"></i>
     </div>

    </section >

    <section  id="page-header" class="cart-header">

       <h2>Cart<h2>
       
       <p>Proceed to Check Out</p>
       
    </section>

     <section  id="cart" class="section-p1">

        <table width="100%">
          <thead>
            <tr>
             <td>Remove</td>
             <td>Image</td>
             <td>Product</td>
             <td>Price</td>
             <td>Quantity</td>
             <td>Subtotal</td>
            </tr>
          </thead>

        {% if cart_products %}
          {% for product in cart_products %}
          <tbody>
            <td><a href="/delete_cart/{{product.slug}}">remove</i></a></td>
            <td><img src ="{{product.image.url}}" alt="image"></img></td>
            <td>{{product.name}}</td>

            {% if product.discunted_price > 0 %}

            <td>{{product.discounted_price}}</td>
            {% else %}

            <td>{{product.price}}</td>

            {% endif %}

            

            <td><div class = "qty">
              <a href="/reduce_cart/{{product.slug}}"><button class = "btn-minus"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 10h24v4h-24z"/></svg><button></a>
                <input type="number" value = "{{product.quantity}}">
              <a href="/add_to_cart/{{product.slug}}"><button class = "btn-plus"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg></button></a>
            </div></td>

              <td>{{product.total}}</td>
            
          </tbody>

          
          {% endfor %}

          {% else %}

            <h1>Your Cart is empty</h1>

            {% endif %}

        </table>
       
    </section>

    <section id="cart-add" class="section-p1">
        <div id="coupon">
        <h3>Apply Coupon</h3>
          <div>
            <input type="text" placeholder="Enter your Coupon">
            <button >Apply</button>
        </div>
        </div>

        <div id="subtotal">
          <h3>Cart Totals</h3>
            <table>
              <tr>
                <td>Cart Subtotal</td>
                <td>Rs. {{all_total}}</td>
              </tr>

              <tr>
                <td>Shipping</td>
                <td>Rs.50</td>
                
              </tr>

              <tr>
                <td><strong>Total</strong></td>
                <td><strong>Rs.{{grand_total}}</strong></td>
                
                
              </tr>
            </table>
            <button> Check Out</button>
        </div>

    </section>
    
  {% endblock%}