
html, body {
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 6 20px 0;
}



.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #ffdbdc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header .logo{
    max-width: 120px; /* Adjust based on your logo design */
    height: auto;      /* This is key to preventing stretching */
    
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}

#navbar .dropdown {
    overflow: hidden;
}

#navbar .dropdown button{
    font-size: 20px;
    border: none;
    outline: none;
    color: #20C9DF;
    padding: 10px 12px;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 10px;
}

#navbar .dropdown button:hover{
    background-color: #eaa0a2;
}

#navbar .dropdown .dropdown-menu{
    display: none;
    position: absolute;
    background-color: #20C9DF;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.3s;
}

#navbar .dropdown .dropdown-items{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.3s;
}

#navbar .dropdown .dropdown-items:hover{
    background-color: #eaa0a2;
}

#navbar .dropdown:hover .dropdown-menu{
    display: block;
}

#navbar li button span.quantity{
     font-size: 10px;
     background-color: #20C9DF;
     padding: 5px 10px; /* Add padding so the shape is visible */
     border-radius: 10px; /* Rounds the corners */
     border: 2px solid #83000010;
     cursor: pointer;
     transition: 0.3s;
     box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
     
    
    
}

#mobile  button span.quantity{
    font-size: 15px;
     background-color: #20C9DF;
     padding: 5px 10px; /* Add padding so the shape is visible */
     border-radius: 10px; /* Rounds the corners */
     border: 2px solid #83000010;
     cursor: pointer;
     transition: 0.3s;
     box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
     
}

#navbar li button {
    border: none;
    
}
#mobile button{
    border: none;
}


#navbar li span.quantity:hover{
    background-color: #eaa0a2;
   
}



#navbar #lg-bag a .shop-bag:hover{
   color: #20C9DF;
   
   
}


#navbar .search{
    font-size: 20px;
    background-color: #fafafa;
    padding: 5px;
    border: 1px solid blanchedalmond;

    
}

#navbar input {
    outline: none;

}

#find{
    border: none;
    font-size: 20px;
    background-color: #20C9DF;
    padding: 6px;
    width: 70px;
    height: 35px;
    cursor: pointer;
    transition: 0.3s;
   
}

#find:hover{
    transform: scale(1.05);
    background-color: #eaa0a2;
}

#find:active{
     transform: scale(0.9)
}



#navbar li a:hover, 
#navbar li a.active {
color: #20C9DF;
}

#navbar li a:hover .active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #20C9DF;
    position: absolute;
    bottom: -4px;
    left: 25px;
}

#mobile{
   display: none;
   align-items: center; 
}

#close{
    display: none;
}

#Sale{
    background-image: url(img/bag1.PNG);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#Sale h4{
    padding-bottom: 15px;
}

#Sale h1{
    color: #eaa0a2;
}

#Sale h4{
    color: #eaa0a2;
}

#Sale h2{
    color: #eaa0a2;
}

#Sale p{
    color: #eaa0a2;
}

#Sale button{
    background-image: url(img/button.png);
    background-color: transparent;
    color: #eaa0a2;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;

}

 


#feature .fe-box:hover{
box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px;
    line-height: 1;
    border-radius: 4px;
    color: blue;
    background-color: #fddde4;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:nth-child(2) h6{
    background-color: powderblue;
}

#feature .fe-box:nth-child(3) h6{
    background-color: papayawhip;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cce7d0;
}

#feature .fe-box:nth-child(5) h6{
    background-color: palevioletred;
}

#feature .fe-box:nth-child(6) h6{
    background-color: palegoldenrod;
}

#product1{
    text-align: center;
}

#product1 .product-container{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, min-max(100%, auto)) ;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    align-content: center;
   
}

#product1 .product{
    width: 100%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .product img{
    width: 100%;
    border-radius: 15px;
    transition: 0.4s;
}

#product1 .product img:hover{
    transform: scale(1.05);
    
}

#product1 .product img:active{
     transform: scale(0.9)
}

#product1 .product .description{
    text-align: center;
    padding: 10px 0;
}

#product1 .product .description span{
    color: #eaa0a2;
    font-size: 12px;
}

#product1 .product .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;

}

#product1 .product .description i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .product .description h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#eaa0a2 ;
}

#product1 .product .carts{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #eaa0a2;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom:20px;
    right: 10px;

}

#banner3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, min-max(100px, auto)) ;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    column-gap: 1rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/bag10.png");
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    transition: 0.4s;
}

#banner3 .banner-box4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/bag10.png");
    width: 45vh;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    transition: 0.4s;
}

#banner3 .banner-box:hover{
    transform: scale(1.05);
    cursor: pointer;

}

#banner3 .banner-box:active{
     transform: scale(0.9)
}

#banner3 .banner-box4:hover{
    transform: scale(1.05);
    cursor: pointer;

}

#banner3 .banner-box4:active{
     transform: scale(0.9)
}

#banner3 .banner-box2{
   
    background-image: url("img/bag11.PNG");
   
}

#banner3 .banner-box3{
   
    background-image: url("img/bag12.jpg");
   
}

#banner3 h2{
    color: #eaa0a2;
    font-weight: 800;
    font-size: 15px;
}

#banner3 h3{
    color: #eaa0a2;
    font-weight: 900;
    font-size: 30px;
    background-color: rgba(32, 201, 223, 0.3) ;
    -webkit-text-stroke-width:1px ;
    -webkit-text-stroke-color: #1a1a1a;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #eaa0a2;
    
}

#newsletter h4{
   font-size: 22px;
   font-weight: 700;
   color: #fff;
   padding: 5px;
}

#newsletter p{
    font-size: 16px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
   color: #20C9DF;
}

#newsletter input{
   height: 3.125rem;
   padding: 0 1.25rem;
   font: 14px;
   width: 100%;
   border: 1px solid transparent;
   border-radius: 1px;
   outline: none;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter button{
    background-color: #20C9DF;
    color: #fff;
    white-space: nowrap;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border: none;
    transition: 0.3s;
    
    
}

#newsletter button:hover{
    background-color: #eaa0a2;
    cursor: pointer;
    transform: scale(1.05);

}

#newsletter button:active{
    transform: scale(0.9);
}



.normal{
    padding: 10px;
    border-radius: 1px;
    width: 120px;
    height: 50px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 13px;
    padding-bottom: 20px;
}


footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #20C9DF;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #eaa0a2;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

@media (max-width: 767px){
    

    #navbar{ display:flex;
             flex-direction: column;
             align-items: flex-start;
             justify-content: flex-start;
             position: fixed;
             top: 0;
             right: -400px;
             width: 400px;
             height: auto;
             background-color: #E3E6F3;
             box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
             padding: 80px 0 0 10px;
             transition: 0.4s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
        font-size: 40px;
    }

    #mobile{
        display:flex;
        align-items: center; 
        
     }

     #mobile i{
        color: #1a1a1a;
        font-size: 30px;
        padding-left: 20px;
     }

     

     #bar{
       margin-left: 50px;
     }

     #close{
        display: initial;
        position: absolute;
        top: 30px;
        color: #222;
        font-size: 20px;
     }

     #lg-bag{
        display: none;
     }

     
     #Sale{
        
        height: 70vh;
        width: 0 80%;
        background-position: top 30% right 30;
        
    }

    #product1 .product-container{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, min-max(100%, auto)) ;
        grid-gap: 1rem;
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
       
    }

    #feature{
        justify-content: center;
    }

    #feature .fe-box{
        margin: 15px 15px;
    }

    #product1 .product-container{
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;
    }

    #banner3{
        padding: 40px;
    }

    #banner3 .banner-box{
        width: 85%;
    }
    #newsletter .form{
        width: 70%;
        padding-top: 10px;
    }
}

/*  shop page   */
#page-header{
        background-image: url("img/shoppage.jpg");
        width: 100%;
        height: 40vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 14px;

}

#page-header h2,
#page-header p{
    color: #fff;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #20C9DF;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/*  sproduct   */

#productdetails{
    display: flex;
    margin-top: 20px;
    
}

#productdetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#productdetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}   

#productdetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}   

#productdetails .single-pro-details h2 {
    font-size: 26px;
}

#productdetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}   

#productdetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}


#productdetails .single-pro-details button:hover{
    background-color: #eaa0a2;
    cursor: pointer;
    transform: scale(1.05);
}


#productdetails .single-pro-details input:focus{
    outline: none;
}

#productdetails .single-pro-details button{
    background-color: #20C9DF;
    color: #fff;
    width: 100px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
    border: none;
    
}

#productdetails .single-pro-details span{
    line-height: 25px;
}

.single-pro-image #BigImg,
.smallimg{
    transition: 0.3s all ease-in-out;

}

.single-pro-image #BigImg:hover ,
.smallimg:hover {
    transform: scale(1.02); 
}

/* blog */

#page-header.blog-header{
    background-image: url("img/blog.jpg");
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;

}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #20C9DF;
}

#blog .blog-details a:hover::after{
    background-color: #20C9DF;
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cec9;
    z-index: -9;
}
/*About Page */

#page-header.about-header{
    background-image: url("img/about.jpg");
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head div{
    padding-left: 40px;
}

#about-app{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/*  Contact Page   */
#page-header.contact-header{
    background-image: url(img/map.jpg);
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span{
    font-size: 12px;

}

#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 12px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form span{
    font-size: 12px;
}

#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

.signup-section .signup-container .signup input:user-valid{
    outline-color: #44f817;
}

.signup-section .signup-container .signup input:user-invalid{
    outline-color: #f30000;
}

#form-details form button{
    background-color: #20C9DF;
    color: #fff;
    width: 100px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
    border: none;
}

#form-details form button:hover{
    background-color: #eaa0a2;
    cursor: pointer;
    transform: scale(1.05);
}

/* Cart  */

#page-header.cart-header{
    background-image: url(img/checkout.jpg);
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 15px;
}

#coupon button{
    background-color: #20C9DF;
    color: #fff;
    width: 100px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
    border: none;
}

#coupon button:hover{
    background-color: #eaa0a2;
    cursor: pointer;
    transform: scale(1.05);
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 #coupon{
    width: 50%;
    margin-bottom: 30px;
 }

 #coupon h3{
    padding-bottom: 15px;
 }

 #coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
 }

 #subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
 }

 #subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
 }

 #subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
 }

 #subtotal h3{
    padding-bottom: 15px;
 }

 #subtotal button{
    background-color: #20C9DF;
    color: #fff;
    width: 100px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
    border: none;
 }

 #subtotal button:hover{
    background-color: #eaa0a2;
    cursor: pointer;
    transform: scale(1.05);
 }

 .signup-section{
    margin-top: 20px;
    margin-bottom: 20px;

 }

.signup-section .signup-container{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 2px;
 }

 .signup-section .signup-container h1,h4{
    color: #eaa0a2;
    text-align: center;
    padding: 5px;
 }
 .signup-section .signup-container .signup{
    width: 300px;
    margin-left: 20px;

}

.signup-section .signup-container .signup label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

.signup-section .signup-container .signup input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    size: 50;
    height: 40px;
    font-size: 20px;
    
}

.signup-section .signup-container .signup input:not(:placeholder-shown):valid{
    outline-color: #44f817;
}

.signup-section .signup-container .signup input:not(:placeholder-shown):invalid{
    outline-color: #f30000;
}

.signup-section .signup-container .signup input:focus{
    outline-color: #f0ce26;
}

.signup-section .signup-container .signup .silobtn{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #20C9DF;
    color: white;
    cursor: pointer;
    transition: 0.3s;

}

.signup-section .signup-container .signup .silobtn:hover{
    background-color: #eaa0a2;
    transform: scale(1.05);
}


.signup-section .signup-container p{
    text-align: center;
    padding: 20px;
}

.signup-section .signup-container p a{
    color: #eaa0a2;
}